#about {
}

.about {
  .row:first-child {
    .about__slider {
      .swiper-control {
        & > div {
          top: 80%;
        }
      }
    }
  }

  .row:nth-child(2) {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: -20%;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
      margin-top: 0;
    }

    margin-top: -40px;
  }

  .row:last-child {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: -10%;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 56px;
    }

    margin-top: -20%;
  }
}
