#feedback {
}

.feedback {
  &__rating {
    display: flex;
    align-items: center;

    margin-right: 12px;

    img {
      width: 24px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  &__video {
    @include breakpoint($breakpoint-mobile--medium) {
      margin-top: 12px;
      font-size: $font-size__text--small - 2px;
    }

    display: flex;
    align-items: center;

    margin-left: auto;

    font-size: $font-size__text--small;

    img {
      margin-left: 8px;
      transition: $transition ease;
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(0.85);
        }
      }
    }
  }

  &__action {
    margin-top: 40px;
    text-align: center;
  }
}
