#feedback {
}

.feedback {
  &__rating {
    display: flex;
    align-items: center;

    margin-right: 12px;

    img {
      width: 24px;

      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }

  &__video {
    display: flex;
    align-items: center;

    margin-left: auto;

    font-size: $font-size__text--small;

    img {
      margin-left: 8px;
    }
  }

  &__action {
    margin-top: 40px;
    text-align: center;
  }
}
