// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  @include breakpoint($breakpoint-laptop) {
    margin-top: 120px;
  }

  margin-top: 160px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}
