// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  margin-top: 160px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 0;
}
