.mobile-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100vh;

  visibility: hidden;

  &__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;

    transition: $transition ease;
  }

  &__wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    right: -100%;

    width: 60%;
    max-width: 240px;
    height: 100%;

    padding: 30px 30px 40px;

    background-color: $palette-gray;

    transition: 0.5s ease-out;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;

      display: block;
      width: 200%;
      height: 100%;

      background-color: $palette-gray;
    }
  }

  &__close {
    margin-bottom: 60px;
  }

  &__close .hamburger {
    margin-left: auto;
  }

  &__button {
    display: block;
    margin: 30px auto 0;
  }

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__wrapper {
      right: 0;
    }
  }
}
