$transition-time: 0.2s;

.modal {
  &--scrollable {
    .modal__overlay {
      align-items: flex-start;
    }

    .modal__container {
      max-width: 900px;
      margin-top: 10vh;
      margin-bottom: 24px;
      padding: 12px 80px 54px;
    }

    .modal__title {
      font-size: $font-size__text--big;
    }
  }

  &__overlay {
    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: auto;

    background: rgba(#000000, 0.7);
  }

  &__container {
    position: relative;
    overflow: auto;

    width: 95%;
    max-width: 1200px;

    border-radius: 15px;

    background-color: $palette-gray;
    box-shadow: 0 0 60px rgba($palette-black, 0.6);
  }

  &__header {
    margin-bottom: 50px;
  }

  &__title {
    font-weight: $weight-Regular;
    font-size: $font-size__title--small;

    text-transform: uppercase;

    span {
      &::before {
        content: "\25CF";
        vertical-align: middle;

        margin-right: 8px;
        margin-left: 5px;

        font-size: 6px;
      }
    }
  }

  &__text {
    color: $color-text__gray;
    font-size: $font-size__text--big;
  }

  &__close {
    position: absolute;
    z-index: 3;
    top: 25px;
    right: 30px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../img/icons/control/modal__close.svg");
    }
  }

  &__content {
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: slide-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: slide-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
