.modal-portfolio {
  .modal__container {
    max-width: 900px;
    padding: 32px 80px 54px;
  }

  .modal__header {
    margin-bottom: 36px;
  }

  .modal__title {
    padding-bottom: 24px;
    border-bottom: 2px solid #a0a0a0;

    text-transform: initial;
  }

  .modal__picture {
    height: 400px;
    margin-bottom: 30px;
  }
}
