.modal-service {
  .modal__title {
    margin-bottom: 24px;
  }

  .modal__action {
    margin-top: 44px;
  }

  .modal__additional {
    margin-top: 32px;

    picture {
      min-height: 100px;
    }
  }
}
