// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-gray: #2c2b2e;
$palette-black: #000000;

// Цветовая палитра текста
$color-text__primary: #ffffff;
$color-text__black: #000000;
$color-text__gray: #9e9e9e;
$color-text__white: #ffffff;
