.logo {
  transition: $transition ease;

  &--header {
    @media (hover: hover) {
      &:hover {
        .background {
          fill: #000000;
          stroke: #000000;
        }
      }
    }
  }
}
