.table {
  width: 100%;

  td {
    padding: 12px 10px;

    &:first-child {
      width: 200px;
    }

    &:not(:last-child) {
      border-right: 1px solid $palette-white;
    }
  }

  thead {
    tr {
      border-bottom: 1px solid $palette-white;
    }
  }
}
