.slider-gallery {
  &__picture {
    @include breakpoint($breakpoint-laptop) {
      height: 450px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 300px;
    }

    height: 520px;
  }
}
