.button {
  display: inline-flex;

  padding: 20px 70px;
  border: 1px solid $palette-white;
  border-radius: 500px;
  outline: none;

  background-color: transparent;
  color: $color-text__white;

  font-size: $font-size__text--large;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
