.button {
  display: inline-flex;

  padding: 20px 70px;
  border: 1px solid $palette-white;
  border-radius: 500px;
  outline: none;

  background-color: transparent;
  color: $color-text__white;

  font-size: $font-size__text--large;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  @media (hover: hover) {
    &:hover {
      background-color: rgba($color: $palette-white, $alpha: 0.3);
    }
  }

  &:active {
    background-color: rgba($color: #7d7d7d, $alpha: 0.3);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
