.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &:hover {
    .button {
      opacity: 1;
      visibility: visible;
    }

    .card__picture img {
      filter: blur(35px);
    }
  }

  &__picture {
    overflow: hidden;
    transition: $transition ease;
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      padding: 14px 0 14px 14px;
    }

    display: flex;
    flex-grow: 1;
    flex-direction: column;

    padding: 24px 0 24px 16px;
    border-left: 1px solid $palette-white;
  }

  &__wrapper {
    position: relative;
  }

  &__button {
    @include breakpoint($breakpoint-mobile--large) {
      width: 90%;
      max-width: 240px;

      padding-right: 0;
      padding-left: 0;
    }

    position: absolute;
    top: 50%;
    left: 50%;

    opacity: 0;
    visibility: hidden;

    transform: translate(-50%, -50%);
  }

  &__footer {
    @include breakpoint($breakpoint-mobile--medium) {
      flex-direction: column;
      align-items: flex-start;
    }

    display: flex;
    align-items: center;

    margin-top: auto;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 12px;
      font-size: $font-size__text--small;
    }

    margin-bottom: 18px;

    font-weight: $weight-Regular;
    font-size: $font-size__text--regular;

    span {
      &::before {
        content: "\25CF";
        vertical-align: middle;

        margin-right: 8px;
        margin-left: 5px;

        font-size: 6px;
      }
    }
  }

  &__text {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--small;
    }

    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
}
