.card {
  &__content {
    padding: 24px 0 24px 16px;
    border-left: 1px solid $palette-white;
  }

  &__title {
    margin-bottom: 18px;

    font-weight: $weight-Regular;
    font-size: $font-size__text--regular;

    span {
      &::before {
        content: "\25CF";
        vertical-align: middle;

        margin-right: 8px;
        margin-left: 5px;

        font-size: 6px;
      }
    }
  }
}
