.card-portfolio {
  .card__picture {
    @include breakpoint($breakpoint-laptop) {
      height: 280px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 230px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 180px;
    }

    height: 350px;
  }

  .card__title {
    margin-bottom: 0;
  }
}
