.card-promotion {
  .card__picture {
    @include breakpoint($breakpoint-tablet--large) {
      height: 180px;
    }

    @include breakpoint($breakpoint-tablet) {
      height: 140px;
    }

    height: 230px;
  }

  .card__title {
    text-transform: uppercase;
  }

  .card__text {
    display: -webkit-box;
    overflow: hidden;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
}
